body {
    width: 1280px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    text-transform: uppercase; 
    color: #000;
    min-height: 3000px;
    background-color: #f2f2f2;
}

h1, h2 {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}

.feature-block {
    color: #fff;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    box-shadow: 1px 0px 21px 1px #666666;
    background-color: #fff;
}

.main-header {
    position: relative;
    width: 1200px;
    height: 56px;
    background-color: #fff;    
}

.logo {
    position: absolute;
    top: 0;
    left: 530px;
}

.main-menu {
    width: 1056px;
    float: left;
    margin-top: 15px;
    margin-left: 6%;
    margin-right: 6%;    
}

.nav-list {
    font-size: 0; 
    margin: 0;
    padding: 0;
    list-style: none;   
}

.nav-list li {
    display: inline-block;
    vertical-align: top;   
    width: 20%;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
}

.nav-link:hover {
    color: #81b3d2;
}

.nav-link:active {
    color: #b2b2b2;
}

.nav-list .active {
    color: #766357;
}

.nav-list .active:hover {
    color: #604e43;
}

.nav-list .active:active {
    color: #e1ddda;
}

.nav-left {
  text-align: left;   
  margin-right: 20px;
}

.nav-right {
    text-align: right; 
    margin-left: 140px;
    margin-right: 0;
}

.nav-right:last-child {
    margin-left: 30px;
}

.nav-link {
    color: #000;
    text-decoration: none;    
}

.intro {
    width: 1200px;
    height: 620px;
    background: #b56868 url("img/sedona-background.jpg") no-repeat;     
    padding-top: 75px;
}

.headline {
    float: left;
    width: 460px;
    height: 350px;
    margin-left: 370px;
    margin-right: 370px;    
}

.head-back {
    float: left;
    width: 100%;   
    background: url("img/white-part.png") no-repeat;
    min-height: 273px;
}

.head-lead {    
    width: 575px;
    text-align: center;
    margin-left: 310px;   
    margin-top: 120px;
}

.feature-block {
    width: 1200px;   
    min-height: 256px;
    float: left;
    margin: 0;
    background-color: #81b3d2;
}

.feature-image {
    float: left;
    width: 800px;
    height: 256px;
    background-color: crimson;
}

.feature-description {
    float: left;
    width: 284px;
    background-color: #81b3d2;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 58px;
    padding-right: 58px;    
}

.feature-block h2 {
    margin: 0;  
    margin-bottom: 15px;
}

.city-description p {
    font-size: 14px;
    margin: 0;
}

.number {
    position: relative;
    display: inline-block;
    margin: 0;
}

.number::before {
    content: "";
    display: table;
    clear: both;
    width: 10px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: -15px;
    top: 9px;
}

.number::after {
    content: "";
    display: table;
    clear: both;
    width: 10px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 25px;
    top: 9px;
}

.columns-block-1 {
    float: left;
    width: 1200px;    
}

.column {
    float: left;
    width: 320px;
    text-align: center;
    padding-bottom: 80px;
    padding-top: 60px;    
}

.house {
    width: 260px;
    padding-left: 70px;
    padding-right: 70px;   
}


.food {
    padding-left: 55px;
    padding-right: 55px;
    width: 290px;        
}

.souvenirs {
    padding-left: 62px;
    padding-right: 62px;
    width: 276px;
    padding-top: 56px;
}

.columns-block-2 {
    float: left;
    width: 1200px;
    height: 256px;    
    background-color: #eee;   
}

.block {
    float: left;
    width: 400px;
    text-align: center;  
    padding-top: 40px;
    padding-bottom: 55px;
}

.block h2 {
    margin-top: 0;
}

.block p {
    margin-bottom: 0;
}

.square {
    padding-left: 90px;
    padding-right: 90px;
    width: 220px;    
}

.road {
    padding-left: 60px;
    padding-right: 60px;
    width: 280px;
}

.tourists {
    padding-left: 65px;
    padding-right: 65px;
    width: 270px;
}

.line {
    position: relative;
}

.line::before {
    content: "";
    display: table;
    clear: both;
    width: 10px;
    height: 2px;
    background-color: #000;
    position: absolute;
    left: -15px;
    top: 9px;
}

.line::after {
    content: "";
    display: table;
    clear: both;
    width: 10px;
    height: 2px;
    background-color: #000;
    position: absolute;
    left: 25px;
    top: 9px;
}

.selection-block {
    float: left;
    height: 765px;
    width: 1200px;
    text-align: center;  
    position: relative;
}

.selection-block span {
  font-size: 30px;
  font-weight: bold;
  text-align: center;  
}

.suggestion-block {
    float: left;
    height: 150px;
    width: 570px;
    padding-top: 50px;
    margin-left: 315px;
    margin-right: 315px;    
}

.choice-block {
    float: left; 
    width: 570px;
    height: 85px;
    color: #fff;
    font-weight: bold;
    font-size: 21px;  
    margin-left: 315px;
    margin-right: 315px;
    background-color: #766357;  
    text-align: center;
    padding-top: 10px;    
}

.hotel-search {  
    position: absolute;
    top: 290px;
    left: 315px;
    font-weight: bold;
    height: 285px;
    width: 570px;
    background-color: #fff;    
    padding-top: 55px;
    padding-bottom: 55px;
    box-shadow: 1px 0px 21px 1px #666666;
}

.hotel-search input[type="date"] {
    width: 305px;
    padding-right: 40px;
    height: 36px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 26px;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    outline: none;
    position: relative;
}

.hotel-search input.check {
    background-image: url("img/sprite.png");
    background-repeat: no-repeat;
    background-position: 307px -114px;
}

.hotel-search input.check:hover {
    background-image: url("img/sprite.png");
    background-repeat: no-repeat;
    background-position: 307px -197px;
}

.hotel-search input.check:active {
    background-image: url("img/sprite.png");
    background-repeat: no-repeat;
    background-position: 307px -154px;
}

.hotel-search label {
    margin-right: 20px;
}

.line-3 {
    float: left;
    width: 225px;
    margin-left: 50px;
}

.line-3 input[type="text"] {
    width: 38px;
    height: 36px;    
    border: none;
    outline: none;
    background-color: #f2f2f2;
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    line-height: 26px;    
}

.line-3 label {
    margin-right: 40px;
}

.hotel-search input:hover {
    background-color: #ebebeb;
}

.hotel-search input:active {
    background-color: #fff;
    border: 2px solid #e5e5e5;
    outline: none;
}
.hotel-search input:focus {
    background-color: #fff;
    border: 2px solid #e5e5e5;
    outline: none;
}

.grey-btn {
    border: none;
    outline: none;
    background-color: #f2f2f2;    
    color: #a9a9a9;
    font-weight: bold;
    width: 38px;
    height: 38px;
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    margin-right: -4px;
    cursor: pointer;
    font-size: 14px;
    line-height: 26px;
}

.grey-btn:hover {
    color: #000;
}

.grey-btn:active {
    color: #81b3d2;
}

.line-4 {
   float: right;
   width: 180px;    
   margin-right: 50px;
}

.line-4 label {
    margin-right: 25px;
}

.line-4 input[type="text"] {
    width: 38px;
    height: 36px;  
    border: none;
    outline: none;
    background-color: #f2f2f2;
    display: inline-block;
    color: #fff;
    text-align: center;
    display: inline-block;
    margin-left: -4px;
    font-size: 14px;
    line-height: 26px;
    vertical-align: top;
}

.hotel-search .btn {
    border: none;
    outline: none;
    background-color: #81b3d2;
    color: #fff;
    cursor: pointer;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "PT Sans", "Arial", sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 457px;
    margin-top: 55px;
}

.hotel-search .btn:hover {
    background-color: #669ec0;
}

.hotel-search .btn:active {
    background-color: #5496bd;
    color: #88b6d1;
}

.page-footer {
    float: left;
    margin: 0;
    width: 1200px;
    height: 120px;
    background-color: #fff;
}

.footcolumn-1 {
    width: 235px;
    float: left;
    margin-right: 88px;
    margin-left: 76px;
    text-align: center;
    margin-top: 50px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.footcolumn-1 a {
    text-decoration: none;
    color: #000;
}

.footcolumn-2 {
    width: 400px;
    height: 50px;
    margin-right: 88px;
    float: left;
    text-align: center;
    margin-top: 35px;
}

.footcolumn-3 {
    width: 80px;
    padding-right: 140px;
    height: 40px;
    float: right;
    margin-right: 73px; 
    text-align: center;
    margin-top: 40px;
    position: relative;
    font-size: 0;
}

.footcolumn-3 p {
    margin: 0;
    margin-top: 10px;
    font-size: 14px;
    line-height: 26px;
}

.footcolumn-3 p::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 20px;
    background-image: url("img/sprite-2.png");
    background-repeat: no-repeat;
    background-position: -10px -10px;
    width: 114px;
    height: 40px;
}

.footcolumn-3 p:hover::after {
    background-image: url("img/sprite-2.png");
    background-repeat: no-repeat;
    background-position: -10px -69px;    
}

.footcolumn-3 p:active::after {
    background-image: url("img/sprite-2.png");
    background-repeat: no-repeat;
    background-position: -10px -128px;    
}


.social-btn {
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    display: inline-block;
    margin-right: 5px;
    vertical-align: top; 
}

.social-btn:hover {
    background-color: #669ec0;
}

.social-btn:active {
    background-color: #5496bd;
}

.social-btn-tw {   
    background-image: url("img/sprite.png");
    background-repeat: no-repeat;
    background-position: 5px -656px;    
}

.social-btn-tw:active {  
    background-image: url("img/sprite.png");
    background-repeat: no-repeat;
    background-position: 5px -691px;   
   
}

.social-btn-fb {
    background-image: url("img/sprite.png");
    background-repeat: no-repeat;
    background-position: 8px -360px;
}

.social-btn-fb:active {
    background-image: url("img/sprite.png");
    background-repeat: no-repeat;
    background-position: 8px -399px;
}

.social-btn-yt {
    background-image: url("img/sprite.png");
    background-repeat: no-repeat;
    background-position: 3px -726px;    
}

.social-btn-yt:active {
    background-image: url("img/sprite.png");
    background-repeat: no-repeat;
    background-position: 3px -762px;    
}

.hotel-selection {
    float: left;
    width: 1200px;  
    height: 190px;
    background: #65a5ea url("img/filter-background.jpg") no-repeat;
    color: #fff;
    padding-top: 27px;    
}

.hotel-selection h2 {
    font-size: 16px;
    line-height: 21px;
    margin-top: 0;
    margin-bottom: 25px;
}

.service {
    float: left;
    width: 240px;
    height: 155px;
    margin-right: 0;
    margin-left: 73px;
}

.house-type {
    float: left;
    width: 288px;
    margin-right: 200px;    
}

.hotel-cost {
    float: left;
    width: 328px;
    margin-right: auto;
}

.hotel-cost {
    width: 330px;
    color: #fff;
}

.filter-title {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    margin-bottom: 9px;
}

.price-controls {
    height: 36px;
    margin-bottom: 20px;
    border: 2px solid #fff;
    border-radius: 2px;
    font-size: 0;
    position: relative;
}

.price-controls::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 22px;
    background-color: #fff;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.price-controls label{
    display: inline-block;
    line-height: 38px;
    font-size: 14px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
    outline: none;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #fff;
}

.range-toggle {
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #fff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
    position: absolute;
    top: -9px;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.range-toggle:hover {
    background: #1c4f80;
}

.btn-transparent {
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 35px;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    margin: 0 auto;
}

.btn-transparent:hover {
    background: #fff;
    color: #000;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    display: block;
    margin: 24px 0;
    line-height: 21px;
    padding-left: 40px;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    background-image: url("img/sprite.png");
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    background-position: -10px -451px;
    top: 0;
    left: 0;
}

input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    background-image: url("img/sprite.png");
    background-repeat: no-repeat;
    width: 26px;
    height: 22px;
    background-position: -10px -289px;
    top: 0;
    left: 0;
}

.results {
    float: left;
    width: 1200px;
    padding-bottom: 19px;
    padding-top: 25px; 
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
}

.results .amount {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    float: left; 
    width: 161px;
    margin-top: 5px;   
}

.results .sort {
    font-size: 12px;
    line-height: 18px;  
    float: left;
    width: 78px;
    margin-top: 10px;
}

.range {
    margin-left: 73px;
    width: 240px;
    float: left;
}

.range-options {
    float: left;
    width: 300px;
    margin-top: 10px;
}

.range-list {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0px;
}

.range-list li {    
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    color: #81b3d2;
    vertical-align: top;
    padding-left: 35px;
}

.range-list a {
    text-decoration: none;
    color: #b1b1b1;
    border-bottom: 1px dotted #81b3d2;
}

.range-list .active {
    color: #81b3d2;
}

.range-list a:hover {
     color: #81b3d2;
}

.range-list a:active {
    color: #000;
    border: none;
}

.range-buttons {
    float: right;
    width: 48px;
    height: 30px;
    margin-right: 73px;
    font-size: 0;
    position: relative;
}

.range-btn {
    width: 24px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5;
    position: absolute;
}

.triangle-2 {
    background-image: url("img/sprite.png");
    background-repeat: no-repeat;
    background-position: 1px -274px;   
}

.triangle-1 {
    background-image: url("img/sprite.png");
    background-repeat: no-repeat;
    background-position: -13px -302px;        
}

.hotels {
    float: left;
    width: 1200px;
    height: 452px;
    background-color: #fff;
}

.hotel {
    float: left;
    width: 1054px;
    padding-left: 73px;
    padding-right: 73px;
    position: relative;
    border-bottom: 1px solid #e5e5e5;
}

.hotel-image {
    width: 135px;
    height: 90px;
    margin-right: 29px;
    float: left;
    margin-bottom: 30px;
    margin-top: 30px;
}

.hotel-details {
    float: left;
    width: 110px;
    margin-right: 6px;
    padding-top: 5px;
}

.hotel-reserve {
    float: left;
    width: 142px;
    padding-top: 5px;
}

.hotel h2 {
   margin: 0;
   margin-top: 27px;  
   cursor: pointer;
}

.hotel h2:hover {
    color: #81b3d2;
}

.hotel h2:active {
    color: #b2b2b2;
}

.hotel .more {
    text-decoration: none;
    font-weight: bold;
    display: block;
    border: 1px solid #81b3d2;
    background-color: #81b3d2;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

.more:hover {
    background-color: #669ec0;
}

.more:active {
    background-color: #5496bd;
    color: #7aadcb;
}

.hotel .book {
    text-decoration: none;
    font-weight: bold;
    display: block;
    border: 1px solid #766357;
    background-color: #766357;
    color: #fff;
    text-align: center; 
    margin-top: 10px;
}

.book:hover {
    background-color: #604e43;
}

.book:active {
    background-color: #503e33;
    color: #857871;
}

.hotel-rating {
    float: right;
    width: 110px;
    line-height: 21px;
    color: #666666;
    background-color: #f2f2f2;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 2px;
    margin-top: 44px;
}

.hotel-stars {
    position: absolute;
    width: 95px;
    height: 20px;
    top: 30px;
    right: 73px;
    background-image: url("img/sprite.png");
    background-repeat: no-repeat;   
}

.hotel-1 .hotel-stars {   
    background-position: -3px -83px;
}

.hotel-2 .hotel-stars {
    background-position: 44px -8px;
}

.hotel-3 .hotel-stars {
    background-position: 22px -44px;
}